@using MedTech.Core.Domain.Membership

<h2 class="page-header">@T("Admin.Users.Create.Title")</h2>
<div class="row">
    <div class="col-md-14">
        <form class="form-horizontal" name="createUserForm">
            <fieldset>
                <div class="form-group">
                    <label for="FirstName" class="col-md-2 control-label">@T("Admin.Users.FirstName")</label>
                    <div class="col-md-10">
                        <input name="FirstName" class="form-control" ng-model="user.firstName" required maxlength="50" type="text" placeholder="@T("Admin.Users.FirstName")">
                        <div ng-messages="createUserForm.FirstName.$error" ng-if="createUserForm.FirstName.$touched">
                            <span class="text-danger" ng-message="required">@T("Admin.Warning.FieldRequired")</span>                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="LastName" class="col-md-2 control-label">@T("Admin.Users.LastName")</label>
                    <div class="col-md-10">
                        <input name="LastName" class="form-control" ng-model="user.lastName" required maxlength="50" type="text" placeholder="@T("Admin.Users.LastName")">
                        <div ng-messages="createUserForm.LastName.$error" ng-if="createUserForm.LastName.$touched">
                            <span class="text-danger" ng-message="required">@T("Admin.Warning.FieldRequired")</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email" class="col-md-2 control-label">@T("Admin.Users.Email")</label>
                    <div class="col-md-10">
                        <input name="Email" class="form-control" ng-model="user.email" required maxlength="50" emailunique ng-model-options="{ updateOn: 'blur' }" type="email" placeholder="@T("Admin.Users.Email")">
                        <div ng-messages="createUserForm.Email.$error" ng-if="createUserForm.Email.$touched">
                            <span class="text-danger" ng-message="required">@T("Admin.Warning.FieldRequired")</span>
                            <span class="text-danger" ng-message="email">@T("Admin.Warning.Email.Type")</span>                            
                        </div>
                        <span class="text-danger" ng-show="emailUnique">@T("Admin.Warning.Email.Unique")</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-md-2 control-label">@T("Admin.Users.Password")</label>
                    <div class="col-md-10">
                        <input name="Password" class="form-control" ng-model="user.password" required minlength="6" maxlength="128" type="password" placeholder="@T("Admin.Users.Password")">                        
                        <div ng-messages="createUserForm.Password.$error" ng-if="createUserForm.Password.$touched">
                            <span class="text-danger" ng-message="required">@T("Admin.Warning.FieldRequired")</span>
                            <span class="text-danger" ng-message="minlength">@T("Пароль должен быть не менее 6-ти символов")</span>
                        </div>                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="col-md-2 control-label">@T("Admin.Users.ConfirmPassword")</label>
                    <div class="col-md-10">
                        <input name="ConfirmPassword" class="form-control" ng-model="user.confirmPassword" required maxlength="128" type="password" placeholder="@T("Admin.Users.ConfirmPassword")">
                        <div ng-messages="createUserForm.ConfirmPassword.$error" ng-if="createUserForm.ConfirmPassword.$touched">
                            <span class="text-danger" ng-message="required">@T("Admin.Warning.FieldRequired")</span>
                        </div>                        
                        <span class="text-danger" ng-show="confirmPasswordError">@T("Поля пароль и подтверждение пароля должны совпадать")</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Phone" class="col-md-2 control-label">@T("Admin.Users.Phone")</label>
                    <div class="col-md-10">
                        <input name="Phone" class="form-control" ng-model="user.phone" required maxlength="50" type="text" placeholder="@T("Admin.Users.Phone")">
                        <div ng-messages="createUserForm.Phone.$error" ng-if="createUserForm.Phone.$touched">
                            <span class="text-danger" ng-message="required">@T("Admin.Warning.FieldRequired")</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Role" class="col-md-2 control-label">@T("Admin.Users.Role")</label>
                    <div class="col-md-10">
                        <select class="form-control" id="Role" ng-init="user.roleId=1" ng-model="user.roleId" required>
                            @foreach (var key in Enum.GetValues(typeof(RoleEnum)))
                            {
                                <option value="@((int)key)">@key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary" ng-click="createClick(user, createUserForm)" ng-disabled="createUserForm.$invalid || emailUnique">@T("Admin.Common.Create")</button>
                        <a href="#/Users" class="btn btn-default">@T("Admin.Common.Cancel")</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>