<!DOCTYPE html>
<html ng-app="homeModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/angular")
    <title>@ViewBag.Title - MedTech</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="~/Scripts/App/home-module.js"></script>
    <script src="~/Scripts/App/Admin/admin-module.js"></script>
    
    <link href="~/Content/ng-table.min.css" rel="stylesheet" />
    <script src="~/Scripts/ng-table.min.js"></script>

    <script src="~/Scripts/App/directives.js"></script>
    @RenderSection("scriptsInHead", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>